.game {
    height: 200px;
    width: 800px;
    margin: 200px auto;
    border-bottom: 1px solid black;
}

#dino {
    width: 200px;
    height: 200px;
    background-image: url(./img/dino.png);
    background-size: 150px 100px;
    background-repeat: no-repeat;
    position: relative;
    top: 106px;
}

#cactus {
    width: 120px;
    height: 200px;
    background-image: url(./img/cactus.png);
    background-size: 150px 100px;
    background-repeat: no-repeat;
    position: relative;
    top: -90px;
    left: 680px;
    animation: cactusMov 1s infinite linear;
}

.jump {
    animation: dinoJump 0.3s linear;
}

@keyframes cactusMov {
    0% {
        left: 680px;
    }
    100% {
        left: -20px;
    }
}

@keyframes dinoJump {
    0% {
        top: 106px;
    }
    30% {
        top: 60px;
    }
    50% {
        top: 0px;
    }
    80% {
        top: 60px;
    }
    100% {
        top: 106px;
    }
}

